.photo{
  /* padding: 40px 40px; */
  margin: 10px;
  /* max-width:100px; */
  /* border:2px solid black; */
  flex:1;
}
.photo img{
  background-attachment: fixed;
  background-size:cover;
  /* max-height: 100%; */
  margin: 0 auto;
}
.data{
  margin: 10px;
  /* border:2px solid black; */
  flex:3;
}
.data-1{
  margin: 10px;
  /* border:2px solid black; */
  flex:7;
}

.header{
  margin: 20px 40px;
  display: flex;
  flex-direction: row;
  /* max-width: 400px; */
  justify-content:flex-start;
  border:2px solid black;
}
