
<div class="p-fluid p-formgrid p-grid">
  <div class="main">
  <h3> Profile Updation Form</h3>
  <div class="p-field p-col-12 p-md-6">
      <label for="firstname">Full Name</label>
      <input id="firstname" type="text" pInputText>
  </div> <br>
  <div class="p-field p-col-12 p-md-6 p-lg-4">
      <label for="mail">Mail</label>
      <input id="mail" type="text" pInputText>
  </div> <br>
  <div class="p-field p-col-12">
      <label for="phone"> Phone </label>
      <textarea id="phone" type="text" rows="4" pInputTextarea></textarea>
  </div> <br>
  <div class="p-field p-col-12 p-md-6">
      <label for="contact"> Contact Number </label>
      <input id="contact" type="text" pInputText>
  </div> <br>
  <!-- <div class="p-field p-col-12 p-md-3">
      <label for="state">Field Applied</label>
      <p-dropdown inputId="state" [options]="states" [(ngModel)]="selectedState" placeholder="Select" optionLabel="name"></p-dropdown>
  </div> -->
  </div>
</div>
